<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="menu-button">
            <span class="menu-icon">&#9776;</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Поиск">
        </div>
    </div>
    <div class="main-content">
        <!-- Основной контент страницы -->
    </div>

    <script>
        // JavaScript для обработки событий, если необходимо
        document.querySelector('.menu-button').addEventListener('click', function() {
            alert('Меню открыто!');
        });
    </script>
</body>
</html>